@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    object-fit: contain;
    transition: all 0.5s;
}

div{
    transition: all 0.5s;
}   

a {
    position: relative;
}

p a {
    text-decoration: underline;
}